*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Architects Daughter, sans-serif;
}

@font-face {
    font-family: Architects Daughter;
    src: url(font/ArchitectsDaughter-Regular.ttf);
}

body{
    background-color: #060517;
    color: #fff;
}

.side-area{
    width: 40%;
    max-width: 900px;
    display: grid;
    grid-template-columns: minmax(0, 900px);
    grid-template-rows: repeat(8, 1fr);
    float: left;
}

.side-area>img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    grid-area: 1 / 1 / 9 / 1;
}

.logo{
    max-width: 900px;
    background-color: #000000b0;
    grid-area: 2 / 1 / 2 / 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo>img{
    height: 80%;
    padding: 0 20px;
}

.logo>p{
    font-size: 72px;
    line-height: 60px;
}

.main-area{
    width: 60%;
    height: 100vh;
    border-left: solid 3px #000 ;
    float: left;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 2fr 0.5fr;
}

.main-area>p{
    font-size: 24px;
    grid-area: 2 / 1 / 2 / 1;
    padding: 0 50px;
}

.main-area>form{
    grid-area: 3 / 1 / 3 / 1;
}

.input-area{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;

}

.input-area label{
    width: 40%;
    max-width: 600px;
    padding-top: 20px;
}

label input{
    width: 95%;
    height: 32px;
    color: #fff;
    background-color: #0a0826;
    border: solid 1px #8f3bc6;
}

.button-area{
    width: 100%;
    padding: 50px 0 0 40px;
}

.button-area>button{
    width: 250px;
    height: 75px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    background-color: transparent;
    border: solid 3px #8f3bc6;
}

.button-area>button:hover{
    cursor: pointer;
    background-color: #8f3bc6;
}

form>p{
    font-size: 18px;
    padding: 50px 0 0 40px;
}

p>a{
    color: #a64be2;
    text-decoration: none;
}
